@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

#header-img {
    width: 20rem;
    padding: 20px 0px 0px 0px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #eee;
    display: flex;
    padding: 20px;
    font-size: 1.1rem;
    align-items: center;
    /* all the content has the same space around each other */
    justify-content: space-around;
    /* position of header is fixed so that it stays on top as you scroll */
    position: fixed;
    top: 0;
}

@media (max-width: 610px) {
    /* when width of html page reaches 610px the elements wrap as in nav goes below img */
    header {
        flex-wrap: wrap;
    }
}

#header-img {
    width: 20rem;
    display: flex;
    margin-right: 30px;
}

#logo {
    width: 60vw;
}

nav {
    width: 35vw;
}

nav>ul {
    /* all the elements have same space around each other */
    display: flex;
    justify-content: space-around;
    width: 36vw;
}

@media (max-width: 700px) {
    /* when width of html reaches 700px, the nav elements turn into a column */
    nav>ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav li {
        margin-top: 5px;
    }
}

nav li {
    /* removes the list dots */
    list-style-type: none;
}

.nav-link {
    /* removes the underline due to <a> */
    text-decoration: none;
    /* colors the text so it doesnt becomes purple when clicked */
    color: #000;
}

#data {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 325px;
}

@media (max-width: 610px) {
    /* when width of html is 610px the data should shift down a bit so it isnt hidden by other texts */
    #data {
        margin-top: 88px;
    }
}

#data>h2 {
    margin-bottom: 20px;
}

.button {
    padding: 5px 10px;
    margin: 15px 0 15px 0;
    border-radius: 2px;
    height: 45px;
    width: 100%;
    max-width: 148px;
    font-size: 1em;
    cursor: pointer;
    background-color: #f1c40f;
}

#data input[type='submit'] {
    /* removes border around submit button */
    border: 0;
    font-weight: 800;
}

#data input[type='submit']:hover {
    background-color: orange;
    /* makes it so it takes 1s before color shifts */
    transition: background-color 1s;
}

#data input[type='email'] {
    width: 100%;
    max-width: 250px;
    padding: 5px;
}

.details {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.featuredetails {
    display: flex;
}

.icon {
    display: flex;
    width: 18vw;
    font-size: 3.5rem;
    height: 130px;
    align-items: center;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;
    font-size: 1.0rem;
    height: 130px;
    justify-content: center;
    padding: 5px;
    width: 80vw;
}

#van {
    /* rotates vertically the shipping icon */
    transform: scaleX(-1);
}

#battery {
    transform: rotate(90deg);
    z-index: -1;
}

.orange {
    color: orange;
}

#how {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

#video {
    width: 100%;
    max-width: 550px;
}

#pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

@media (max-width: 850px) {
    /* when width is 850px the pricing divs become a column */
    #pricing {
        flex-direction: column;
        align-items: center;
    }
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    border: 1px solid #000;
    margin: 25px;
}

.product>.top {
    background-color: #ddd;
    color: black;
    padding: 16px 0;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.product>h2 {
    margin-top: 10px;
}

.product>ul {
    margin-top: 10px;
    list-style: none;
    text-align: center;
}

.product li {
    padding: 6px 0;
}

.product>button {
    border: 0;
}

footer {
    background-color: #ddd;
    padding: 25px;
    margin-top: 20px;
}

footer>ul {
    display: flex;
    justify-content: flex-end;
}

footer li {
    list-style-type: none;
    padding: 0 15px;
}

footer>span {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
    color: #444;
    font-size: 0.9rem;
}